* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: #808080;

}
header h1 {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    background-color: #808080;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Color Palette Section*/
section {
    box-sizing: border-box;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
    margin-top: 20px;
   
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    padding: 20px;
    align-self: flex-start;
    background-color: #FFDF64;

}
.color-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #FFFFFF;
    padding: 40px;
}
.color-table {
    margin: 20px 0;
    border-collapse: collapse;
}
.color-table td {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
    width: 250px;
    height: 90px;
    border: 2px solid #000000;
}
#olivine {
    background-color: #AFC97E;
}
#tea {
    background-color: #D4E6B5;
}
#naples {
    background-color: #FFDF64;
}
#flax {
    background-color: #E2D686;
}
#gray {
    background-color: #808080;
}
#dark-gray {
    background-color: #A9A9A9;
}
#light-gray {
    background-color: #D3D3D3;
}
#white {
    background-color: #FFFFFF;
}
/* End of Color Palette Section*/

/* Font Section*/
.fonts {
    align-items: left;
    font-size: 18px;
    padding: 40px;
    background-color: #FFFFFF;
}
.fonts ol {
    padding-left: 40px;
}
.fonts ul {
    padding-left: 40px;
    color: #808080;
}
.fonts li {
    line-height: 2;
}
.roboto {
    font-family: 'Roboto';
}
.open-sans {
    font-family: 'Open Sans';
}
.sans-serif {
    font-family: sans-serif;
}

/*Typography Section*/

.typography{
    padding: 20px 40px;
    background-color: #FFFFFF;
}
.typography h3 {
    font-family: 'Roboto';
    padding-left: 20px;
}
.typography p {
    font-family: 'Open Sans';
    font-size: 18px;
    padding-left: 20px;
    padding-bottom: 20px;
    color: #808080;
}
#h1{
    font-size: 50px;
}
#h1{
    font-size: 38px;
}
#h2{
    font-size: 32px;
}
#h3{
    font-size: 28px;
}
#h4{
    font-size: 22px;
}
#h5{
    font-size: 20px;
}
#paragraph {
    line-height: 2;
}

/* End of Typography Section*/

.button {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    
}
.button-container table {
    margin: 20px;
    padding: 20px;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed #A9A9A9;
}
.button-container th{
    font-size: 24px;
    text-align: left;
    padding-bottom: 40px;
    text-decoration: underline;
}
.button-container td {
    text-align: center;
    line-height: 1.5;
    padding: 10px 20px;
    color: #808080;
}
.button-container td i {
    color: #000000;
}
#ny-button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    background-color: #FFDF64;
    border: 2px solid #000000;
    font-size: 16px;
}
#ny-button:hover{
    border: 1px solid #FFDF64;
    font-size: 18px;
    background-color: #FFDF64;
    cursor: pointer;
}
#tg-button{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    background-color: #AFC97E;
    border: 2px solid #000000;
    font-size: 16px;
}
#tg-button:hover{
    border: 1px solid #AFC97E;
    font-size: 18px;
    background-color: #AFC97E;
    cursor: pointer;
}
#inactive-button{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    background-color: #D3D3D3;
    font-size: 16px;
    color: #A9A9A9;
    border: 2px solid #D3D3D3;
}
